<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= plant.name %></title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <a href="/plants">Back to all plants</a>
    <h1><%= plant.name %></h1>
    <p><%= plant.description%></p>
    <a href="/plants/<%= plant._id %>/edit">Edit <%= plant.name %></a>
    <form action="/plants/<%= plant._id %>?_method=DELETE" method="post">
      <button>Delete <%= plant.name %></button>
    </form>
  </body>
</html>
